body{
	margin: 0;
	font-family: 'indie flower', cursive;
	font-size: 25px;
	line-height: 30px;
}
.main-header{
	background-color: lightblue;
	background-image: url(https://i.pinimg.com/originals/b1/13/bd/b113bd79353cb74193cf935236663043.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/* command + slash writes a comment*/

header{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

header h1{
	color: lightcyan;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 17px solid lightcyan;
}

h2{
	font-family: 'indie flower', cursive;
	font-size: 30px;
	text-align: center;
	color: #85EAFF;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%
}

a{
	color: #85EAFF;
}
a:hover{
	color: #501DB4;
}

footer{
	background-color: lightblue;
	text-align: center;
	padding: 50px
}

footer p{
	margin: 0;
	color: white;
 }

 .caption{
 	color: #999999;
 	margin-top: 0px;
 	font-size: 20px;
 	font-style: italic;
 }